ul{
    display: flex;
    width: 50vw;
    /* overflow: auto;
    white-space: nowrap; 
    /* margin-left: 50px; */
    padding-top: 10px;
    z-index: +2;
    
}

li{
    display: flex;
    align-items: center;
    height: 400px;
    
}

p{
    color: white;
    opacity: 0.2;
    z-index: +5;
    font-weight: 700;
    font-size: 55vh;
    margin-right: -125px;
    
}
img{
    display: flex;
    width: 295px;
    height: 100%;
    object-fit: cover;
    margin: 0;
    
}